<div class="container">
  <div class="row">

    <% if @article.errors.any? %>
      <h2>ERROR!!</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>


    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'Content' %>
        <%= f.text_area :content %>
      </div>

      <div class="form-group">
        <%= f.label :image, 'Image' %>
        <%= image_tag @article.image.url, width: '150px' if @article.image? %>
        <%= f.file_field :image %>
      </div>

      <div class="form-group">
        <%= f.label :status, 'Status' %>
        <%= f.select :status, [ 'publish', 'draft' ] %>
      </div>

      <div class="form-group">
        <%= f.label :authority, 'Who can see' %>
        <%= f.select :authority, [ 'all', 'friend', 'myself' ] %>
      </div>

      <div class="form-group">
        <% Category.all.each do |category| %>
          <%= check_box_tag 'article[category_ids][]', category.id, @article.category_ids.include?(category.id), id: dom_id(category) %>
          <%= label_tag dom_id(category), category.name %><br>
        <% end %>
        <%= hidden_field_tag 'article[category_ids][]','' %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>

      <%= link_to 'Back to Index', articles_path %>
    <% end %>

  </div>
</div>