<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% if @article.authority == "friend" %>
        <% if @article.user.friends.include?(current_user) || current_user == @article.user %>
          <%= render partial: "show_content" %>
        <% else %>
          <h2>你沒有此文章的觀看權限喔!!</h2>
          <h3>(此文章僅限作者好友觀看，快去加他好友吧！)</h3>
          <br>
          <h4><%= link_to 'Back', :back %></h4>
        <% end %>
      <% elsif @article.authority == "myself" %>
        <% if current_user == @article.user %>
          <%= render partial: "show_content" %>
        <% else %>
          <h2>你沒有此文章的觀看權限喔!!</h2>
          <h3>(此文章僅限作者本人觀看)</h3>
          <br>
          <h4><%= link_to 'Back', :back %></h4>
        <% end %>
      <% else %>
        <%= render partial: "show_content" %>
      <% end %>
      
    </div>
  </div>
</div>