<div class="container">
  <div class="row">
    
    <h1><%= @article.title %></h1>

    <% if @article.image? %>
      <%= image_tag @article.image.url %>
    <% end %>

    <p><%= simple_format(@article.content) %></p>

    <%= link_to 'Edit', edit_article_path(@article) %>

    <br>

    <%= link_to 'Back to Index', root_path %>

  </div>
</div>