<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2><%= @article.title %></h2>

      <table class="table table-striped table-bordered">
        <tr>
          <td class="col-md-3">
            <% if @article.user.avatar? %>
                <%= image_tag @article.user.avatar.url, width: '150px' %>
            <% end %>

            <h4><%= @article.user.name %></h4>
          </td>

          <td class="col-md-9">
            <div>
              <% if @article.image? %>
                <%= image_tag @article.image.url, width: '200px' %>
              <% end %>
            </div>

            <div>
              <% if @article.categories.any? %>
                文章類別：
                <% @article.categories.each do |category| %>
                  <%= category.name %>
                <% end %>
              <% end %>
            </div>

            <p><%= simple_format(@article.content) %></p>

            <div>
              <% if current_user.id == @article.user_id %>
                <%= link_to 'Edit', edit_article_path(@article) %>&emsp;
                <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>

      <%= link_to 'Back to Index', root_path %>

    </div>
  </div>
</div>