<!----------------------------------------- 使用者基本info ----------------------------------------->

<div class="page-header">
  <div class="col-md-3 col-sm-4">
    <div class="text-center">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, width: '200px', class: "img-responsive img-rounded" %>
      <% else %>
        <%= image_tag ("350x350.png"), width: '200px', class: "img-rounded" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9 col-sm-8">
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <p><%= simple_format @user.intro %></p>
  </div>

  <br>

  <% if @user.email == current_user.email %>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
  <% end %>

  <!-- Friend / Unfriend button -->
  <% if @user != current_user %><!-- 不會發送好友請求給自己 -->
    <% if current_user.pending_friends.include?(@user) %>
      <p>您已發送交友請求，等待對方回覆中！</p>
    <% elsif current_user.inverse_pending_friends.include?(@user) %>
      <p>您有收到對方的交友請求，請盡快回覆！</p>
    <% elsif current_user.friend?(@user) %>
      <p>你們已經是好友囉！</p>
    <% else %>
      <%= link_to 'Friend', friend_requests_path(friend_id: @user), method: :post, class: "btn btn-default" %>
    <% end %>
  <% end %>

  <div class="clearfix"></div>
</div><!-- page-header -->