<div class="container">
  <div class="row">
    <div class="col-md-12">

<!----------------------------------------- 使用者基本info ----------------------------------------->
      <%= render partial: "profile" %>
<!-------------------------------------------- 下方區塊 -------------------------------------------->

      <ul class="nav nav-tabs">
        <li role="presentation" class="col-md-2""><%= link_to 'My Post', user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Comment', my_comment_user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Collect', my_collect_user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Draft', my_draft_user_path(@user) %></li>
        <li role="presentation" class="active col-md-2"><%= link_to 'My Friend', my_friend_user_path(@user) %></li>
      </ul>

      <!-- 送出的好友邀請 -->
      <% if current_user == @user %>
        <div class="col-md-10">
          <div class="pending-friends bg-info">
            <h4>Waiting for response</h4>

            <% @user.pending_friends.each do |pf| %>
              <% if pf.avatar? %>
                <%= image_tag pf.avatar.url, class: "img-rounded" %>
              <% else %>
                <% image_tag ("350x350.png"), class: "img-rounded" %>
              <% end %>
              <br>
              <h5><%= pf.name %></h5>
            <% end %>
          </div>
        </div>
      <% end %>



    </div>
  </div>
</div>