<div class="container">
  <div class="row">
    <div class="col-md-12">

<!----------------------------------------- 使用者基本info ----------------------------------------->
      <%= render partial: "profile" %>
<!-------------------------------------------- 下方區塊 -------------------------------------------->

      <ul class="nav nav-tabs">
        <li role="presentation" class="col-md-2""><%= link_to 'My Post', user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Comment', my_comment_user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Collect', my_collect_user_path(@user) %></li>
        <li role="presentation" class="col-md-2"><%= link_to 'My Draft', my_draft_user_path(@user) %></li>
        <li role="presentation" class="active col-md-2"><%= link_to 'My Friend', my_friend_user_path(@user) %></li>
      </ul>

      <% if current_user == @user %>
        <div class="col-md-10">
          <!-- 送出的好友邀請 -->
          <div class="pending-friends bg-info">
            <h4>Waiting for response</h4>

            <% @user.pending_friends.each do |pf| %>
              <div class="col-md-2">
                <% if pf.avatar? %>
                  <%= image_tag pf.avatar.url, width: '100px', class: "img-rounded" %>
                <% else %>
                  <% image_tag ("350x350.png"), width: '100px', class: "img-rounded" %>
                <% end %>
                <br>
                <h5><%= pf.name %></h5>
                <%= link_to 'Cancel', friend_request_path(friend_id: pf), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>

            <div class="clearfix"></div>
          </div>

          <!-- 收到的好友邀請 -->
          <div class="inverse-pending-friends bg-warning">
            <h4>Incoming friend requests</h4>

            <% @user.inverse_pending_friends.each do |ipf| %>
              <div class="col-md-2">
                <% if ipf.avatar? %>
                  <%= image_tag ipf.avatar.url, width: '100px', class: "img-rounded" %>
                <% else %>
                  <%= image_tag ("350x350.png"), width: '100px', class: "img-rounded" %>
                <% end %>
                <br>
                <h5><%= ipf.name %></h5>
                <%= link_to 'Accept', friend_request_path(friend_id: ipf), method: :patch, class: "btn btn-default"%>
                <%= link_to 'Ignore', ignore_friend_request_path(friend_id: ipf), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>

            <div class="clearfix"></div>
          </div>
      
        </div><!-- col-md-10 -->
      <% end %>

    </div>
  </div>
</div>