<table class="table table-striped index-table">
  <thead>
    <tr>
      <td class="col-md-2">
        <button type="button" class="btn">
          <%= link_to replies_count_articles_path do %>
            Replies count
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          <% end %>
        </button>
      </td>

      <td class="col-md-6 table-title">Title</td>

      <td class="col-md-2">
        <button type="button" class="btn">
          Last replied at
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
      </td>

      <td class="col-md-2">
        <button type="button" class="btn">
          Viewed count
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <% if article.status == "publish" %>
        <td class="article-replies-count"><%= article.replies_count %></td>
        <td>
          <%= link_to article_path(article) do %>
            <%= article.title %>
          <% end %>
        </td>
        <td></td>
        <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="col-sm-12 col-md-12">
  <div class="text-center">
    <%= paginate @articles %>
  </div>
</div>