<div class="container">
  <div class="row">
    
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to 'Category List', admin_categories_path %></li>
      <li role="presentation" class="active"><%= link_to 'User List', admin_users_path %></li>
    </ul>

    <br>

    <div class="col-md-12">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <div class="form-inline">
                <%= form_for [:admin, user] do |f| %>
                  <div class="form-group">
                    <%= f.select :role, [ 'normal', 'admin' ] %>
                  </div>
                  <div class="form-group">
                    <%= f.submit 'Update' %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>